In [3]:
print("My\nname\nis\nBond.", end=" ")
print("James Bond.")

My
name
is
Bond. James Bond.

In [2]:
print(sep="&", "fish", "chips")

SyntaxError: positional argument follows keyword argument (3521117779.py, line 1)

In [5]:
print("fish", "chips", sep="&",)

fish&chips

In [7]:
print('Greg\'s book.')
print("'Greg's book.'")
print('"Greg\'s book."')
print("Greg\'s book.")
#print('"Greg's book."')

Greg's book.
'Greg's book.'
"Greg's book."
Greg's book.

In [8]:
-2 // 4

-1

In [10]:
2//4

0

In [11]:
x = int(input("Enter a number: ")) # The user enters 2
print(x * "5")

Enter a number:  4

5555

In [12]:
x = int(input())
y = int(input())

x = x % y
x = x % y
y = y % x

print(y)

 2
 4

0

In [13]:
1 // 2 * 3

0

In [14]:
print()

In [16]:
x = int(input())
y = int(input())

x = x % y
print(x, y)
x = x % y
print(x, y)
y = y % x
print(x, y)
print(y)

 11
 4

3 4
3 4
3 1
1

In [18]:
x = 1
y = 1.0
z = "1"
 
if x == y:
    print("one")
if y == int(z):
    print("two")
elif x == y:
    print("three")
else:
    print("four")

print(1 == 1.0)

one
two
True

In [20]:
# Create a for loop that counts from 0 to 10, and prints odd numbers to the screen
for num in range(11):
    if num % 2 == 0:
        print(num)

0
2
4
6
8
10

In [21]:
for i in range(0, 11):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

In [22]:
# Create a while loop that counts from 0 to 10, and prints odd numbers to the screen.
x = 1
while x < 11:
    if x % 2 == 0:
        print(x)
    x += 1

2
4
6
8
10

In [29]:
# Create a program with a for loop and a break statement. 
# The program should iterate over characters in an email address, 
# exit the loop when it reaches the @ symbol, and print the part before @ on one line. 
for ch in "john.smith@pythoninstitute.org":
    if ch == "@":
        break
    print(ch, end="")

john.smith

In [30]:
# Create a program with a for loop and a continue statement. 
# The program should iterate over a string of digits, replace each 0 with x, and print the modified string to the screen
for digit in "0165031806510":
    if digit == "0":
        print('x', end="")
        continue
    print(digit, end="")

x165x318x651x

In [33]:
n = range(4)
 
for num in n:
    print(num - 1)
else:
    print(num)

-1
0
1
2
3

In [34]:
x = 4
y = 1

a = x & y
b = x | y
c = ~x  # tricky!
d = x ^ 5
e = x >> 2
f = x << 2

print(a, b, c, d, e, f)

0 5 -5 1 1 16

In [35]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2

del list_1[0]
del list_2

print(list_3)

['B', 'C']

In [36]:
nums = [1, 2, 3]
vals = nums[-1:-2]

print(vals)

[]

In [38]:
t = [[3-i for i in range (3)] for j in range (3)]
print(t)

[[3, 2, 1], [3, 2, 1], [3, 2, 1]]

In [40]:
def hi():
    print("hi!")

hi()

hi!

In [43]:
d1 = {'Adam Smith': 'A', 'Judy Paxton': 'B+'}
d2 = {'Mary Louis': 'A', 'Patrick White': 'C'}
d3 = {}

for item in (d1, d2):
    #print(item)
    d3.update(item)
    print(d3)
    # Write your code here.

print(d3)

{'Adam Smith': 'A', 'Judy Paxton': 'B+'}
{'Adam Smith': 'A', 'Judy Paxton': 'B+', 'Mary Louis': 'A', 'Patrick White': 'C'}
{'Adam Smith': 'A', 'Judy Paxton': 'B+', 'Mary Louis': 'A', 'Patrick White': 'C'}

In [44]:
colors = (("green", "#008000"), ("blue", "#0000FF"))

colors_dictionary = dict(colors)

print(colors_dictionary)

{'green': '#008000', 'blue': '#0000FF'}

In [45]:
my_dictionary = {"A": 1, "B": 2}
copy_my_dictionary = my_dictionary.copy()
my_dictionary.clear()

print(copy_my_dictionary)
print(my_dictionary)

{'A': 1, 'B': 2}
{}

In [46]:
tup = (1, 2, 4, 8)
tup = tup[1:-1]
#tup = tup[0]
print(tup)

(2, 4)

In [52]:
dictionary = {}
my_list = ['a', 'b', 'c', 'd']

for i in range(len(my_list) - 1):
    dictionary[my_list[i]] = (my_list[i], )

print(dictionary)

{'a': ('a',), 'b': ('b',), 'c': ('c',)}

In [53]:
def fun(x):
    global y
    y = x * x
    return y

fun(2)
print(y)

4

In [55]:
my_list =  ['Mary', 'had', 'a', 'little', 'lamb']

def my_list(my_list):
    del my_list[3]
    my_list[3] = 'ram'

print(my_list(my_list))

TypeError: 'function' object does not support item deletion

In [56]:
x = 1
y = 2
x, y, z = x, x, y
z, y, z = x, y, z

print(x, y, z)

1 1 2

In [57]:
nums = [1, 2, 3]
vals = nums
del vals[:]

print(nums)
print(vals)

[]
[]

In [58]:
y = input()
x = input()
print(x + y)

 3
 6

63

In [61]:
lst = [i for i in range(-1, -2)]
print(lst)

lst = [i for i in range(-1, -2, -1)]
print(lst)

[]
[-1]

In [64]:
try:
    value = input("Enter a value: ")
    print(int(value)/len(value))
except ValueError:
    print("Bad input...")
except ZeroDivisionError:
    print("Very bad input...")
except TypeError:
    print("Very very bad input...")
except:
    print("Booo!")

Enter a value:  0

0.0

In [66]:
try:
    print(5/0)
    break
except:
    print("Sorry, something went wrong...")
except (ValueError, ZeroDivisionError):
    print("Too bad...")

SyntaxError: 'break' outside loop (940286616.py, line 3)

In [67]:
foo = (1, 2, 3)
foo.index(0)

ValueError: tuple.index(x): x not in tuple

In [68]:
print(Hello, World!)

SyntaxError: invalid syntax (3552273838.py, line 1)