In [13]:
#https://www.w3schools.com/python/python_regex.asp
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
x

In [2]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [3]:
txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [9]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())
x
#dir(x)

The first white-space character is located in position: 3

In [6]:
txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [8]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [10]:
txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

In [11]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [14]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [15]:
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

In [16]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [17]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [18]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain